body {
  margin: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-between;
  align-items: center;
}

.trybewarts-header-logo {
  width: 10%;
}

.trybewarts-login {
  display: flex;
  height: 40px;
  margin-right: 10px;
}

#trybewarts-header-title {
  color: white;
  font-size: 3em;
}

#submit-btn {
  display: block;
  background-color: rgb(77, 14, 119);
  border-radius: 10px;
  width: 65%;
  color: white;
  height: 35px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.699);
  color: white;
  height: 40px;
  margin-top: 30px;
}

main {
  display: flex;
  justify-content: space-between;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
}

fieldset {
  padding: 16px;
  margin-right: 20px;
}

#formularioAvaliação {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

